.large-subject {
  position: relative;
}

.large-subject__text-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  text-align: center;
  color: #FFF;
}
